#vlResultsTable,
#vlResultsTable1 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

#vlResultsTable td,
#vlResultsTable th,
#vlResultsTable1 td,
#vlResultsTable1 th {
	border: 1px solid #ddd;
	padding: 8px;
}

#vlResultsTable tr:nth-child(even),
#vlResultsTable1 tr:nth-child(even) {
	background-color: #f2f2f2;
}

#vlResultsTable tr:hover,
#vlResultsTable1 tr:hover {
	background-color: #ddd;
}

#vlResultsTable th,
#vlResultsTable1 th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #1aac9b;
	color: white;
}

#vlResultsTable .actions {
	list-style: none;
}

#vlResultsTable .actions li:not(:last-child) {
	border-right: 1px solid black;
}

#vlResultsTable .actions li {
	display: inline-block;
	padding: 0 0.5rem;
	text-align: center;
}

.submit-btn {
	flex: 1;
	margin: 10px 15px;
}

.submit-btn input {
	color: #fff;
	background: #1aac9b;
	padding: 8px;
	width: 12.8em;
	font-weight: bold;
	text-shadow: 0 0 .3em black;
	font-size: 9pt;
	border-radius: 5px 5px;
}

#error_msg {
	background-color: #FFB6C1;
}

#searchForm .cds--css-grid {
	margin-left: 0;
	padding-left: 5px;
	margin-bottom: 3px;
}

#searchForm .error {
	font-size: small;
}