#vlResultsTable,
#vlResultsTable1 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

#vlResultsTable td,
#vlResultsTable th,
#vlResultsTable1 td,
#vlResultsTable1 th {
	border: 1px solid #ddd;
	padding: 8px;
}

#vlResultsTable tr:nth-child(even),
#vlResultsTable1 tr:nth-child(even) {
	background-color: #f2f2f2;
}

#vlResultsTable tr:hover,
#vlResultsTable1 tr:hover {
	background-color: #ddd;
}

#vlResultsTable th,
#vlResultsTable1 th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #1aac9b;
	color: white;
}

#vlResultsTable .actions {
	list-style: none;
}

#vlResultsTable .actions li {
	display: inline-block;
	padding: 0.5rem 0.5rem;
	text-align: center;
}

.submit-btn {
	display: flex;
	margin: 10px 15px;
	gap: 10px;
}

.submit-btn.center {
	justify-content: center;
}

.submit-btn input {
	color: #fff;
	background: #1aac9b;
	padding: 8px;
	width: 12.8em;
	font-weight: bold;
	text-shadow: 0 0 .3em black;
	font-size: 9pt;
	border-radius: 5px 5px;
}

#error_msg {
	background-color: #FFB6C1;
}

#searchForm .searchFields {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	padding: 5px;
	justify-content: center;
}

#searchForm .searchFields > div {
	display: flex;
	flex-direction: column;
}

#searchForm .error {
	font-size: small;
}

.searchFields .divider {
	width: 1px;
    background: gray;
    margin: 5px 15px;
}

.searchFields button[type=submit] {
	cursor: pointer;
	color: #fff;
    background: #1aac9b;
    padding: 8px;
    height: 36px;
    font-weight: bold;
    font-size: 9pt;
    border-radius: 5px 5px;
    border-width: 1px;
	margin-left: 15px;
}

.reallocate-form .field {
	display: flex;
}

.reallocate-form .field > .label {
	margin: 0 10px;
	display: flex;
	align-items: center;
}

.reallocate-form .field > .input {
	width: 405px;
}

.success {
    background-color: #93fbef;
}

span.success, div.success {
    border: 1px dashed #0e5c52;
    padding: 1px 6px 1px 6px;
    margin: 4px 0;
    vertical-align: middle;
}

#openmrs_msg {
	font-weight: bold;
}
